[Desktop Entry]
Version=1.0
Name=Thorium Browser (105.0.5127.0.glibc2.17)
GenericName=Web Browser
Comment=Access the Internet
Exec=/usr/share/appimage-applications/Thorium-Browser-105.0.5127.0.glibc2.17-x86-64.AppImage --no-default-browser-check --use-gl=desktop --enable-experimental-web-platform-features --new-canvas-2d-api --autoplay-policy=user-gesture-required --enable-features=PageInfoAboutThisSiteMoreInfo %U
StartupWMClass=thorium
Keywords=browser;
StartupNotify=true
Terminal=false
X-MultipleArgs=True
Icon=appimagekit_1afd579a956d4a4d96bcb94fa006ed53_thorium
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
Actions=Remove;
X-AppImage-Version=105.0.5127.0.glibc2.17

TryExec=/usr/share/appimage-applications/Thorium-Browser-105.0.5127.0.glibc2.17-x86-64.AppImage
X-AppImage-Old-Icon=thorium
X-AppImage-Old-Name=Thorium Browser
X-AppImage-Identifier=1afd579a956d4a4d96bcb94fa006ed53
X-AppImageLauncher-Version=2.2.0 (git commit 0f91801), built on 2020-09-29 21:42:18 UTC

[Desktop Action new-window]
Name=New Window
Exec=/usr/share/appimage-applications//Thorium-Browser-105.0.5127.0.glibc2.17-x86-64.AppImage

[Desktop Action content-shell]
Name=Open Thorium Shell
Exec=/usr/share/appimage-applications/Thorium-Browser-105.0.5127.0.glibc2.17-x86-64.AppImage %U

[Desktop Action safe-mode]
Name=Open in Safe Mode
Exec=/usr/share/appimage-applications/Thorium-Browser-105.0.5127.0.glibc2.17-x86-64.AppImage --no-experiments %U

[Desktop Action dark-mode]
Name=Open in Dark Mode
Exec=/usr/share/appimage-applications/Thorium-Browser-105.0.5127.0.glibc2.17-x86-64.AppImage --force-dark-mode --no-default-browser-check --use-gl=desktop --enable-experimental-web-platform-features --new-canvas-2d-api --autoplay-policy=user-gesture-required --enable-features=PageInfoAboutThisSiteMoreInfo %U

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=/usr/share/appimage-applications/Thorium-Browser-105.0.5127.0.glibc2.17-x86-64.AppImage --incognito --no-default-browser-check --use-gl=desktop --enable-experimental-web-platform-features --new-canvas-2d-api --autoplay-policy=user-gesture-required --enable-features=PageInfoAboutThisSiteMoreInfo %U

[Desktop Action Remove]
Name=Remove AppImage from system
Icon=AppImageLauncher-Lite
Exec=/usr/share/appimage-applications/appimagelauncher-lite.AppImage remove "/usr/share/appimage-applications//Thorium-Browser-105.0.5127.0.glibc2.17-x86-64.AppImage"
Name[ast]=Desaniciar AppImage del sistema
Name[cs]=Odebrat AppImage ze systému
Name[de]=AppImage vom System entfernen
Name[en]=Remove AppImage from system
Name[es]=Eliminar Appimage del Sistema
Name[fr]=Supprimer l'AppImage du système
Name[it]=Rimuovi AppImage dal sistema
Name[nl]=AppImage deïnstalleren
Name[pl]=Usuń AppImage z systemu
Name[pt]=Remover AppImage do sistema
Name[pt_PT]=Remover AppImage do sistema
Name[ru]=Удалить AppImage из системы
Name[zh_Hans]=从系统中移除 AppImage
