[Desktop Entry]
Version=1.0
Type=Application
Name=YouTube
GenericName=YouTube
Icon=/usr/share/web-applications/YouTube/resources/app.asar.unpacked/build/icon.png
Exec="/usr/share/web-applications/YouTube/YouTube"
Terminal=false
StartupWMClass=youtube
Categories=AudioVideo;
