[Unit]
Description=AppImageLauncher daemon

[Service]
ExecStart=/user/share/appimage-applications/appimagelauncher-lite.AppImage appimagelauncherd
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
